<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Connect to Minimalistic Reference Driver</title>

    <link rel="apple-touch-icon" sizes="180x180"
          href="https://cndt-static.s3.us-east-2.amazonaws.com/static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://cndt-static.s3.us-east-2.amazonaws.com/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="https://cndt-static.s3.us-east-2.amazonaws.com/static/img/favicon/favicon-16x16.png">


    <link rel="stylesheet" href="https://cndt-static.s3.us-east-2.amazonaws.com/static/compiled/styles.min.css">


</head>
<body>

<div class="h-screen flex overflow-hidden bg-gray-lightest text-gray-darkest font-soehne" id="root">


    <div class="bg-gray-darkest flex flex-shrink-0">
        <div class="flex flex-col w-64">
        </div>
    </div>
    <div class="flex-1 overflow-auto focus:outline-none">


        <main class="relative flex-shrink-0">

            <div class="max-w-4xl px-12 py-7">

                <div class="m-auto text-center">
                    <div class="mb-9">
                        <div class="flex justify-center mb-7">
                            <img src="https://cndt-static.s3.us-east-2.amazonaws.com/static/img/drivers/gorgias.svg"
                                 alt="stripe" class="h-20 w-20">
                        </div>
                        <h1 class="cndt-text-title0">{{ driver_name }}</h1>

                    </div>
                    <div class="w-full md:w-96 lg:w-120 mx-auto">
                        {% block form %}
                        <form class="w-full" method="POST" autocomplete="off" action="/api/new_credentials">
                            <input type="hidden" name="csrfmiddlewaretoken"
                                   value="xB8ymbaHFoTKufJszB34ypsvs1TlTbPBge3TwULlFTsmeiBT1DXHddnBSuywrKHD">
                            <input type="hidden" name="driver" value="stripe">

                            <div class="mb-10">
                                <label for="access_token" class="cndt-label cndt-label-md">
                                    Token
                                </label>
                                <div class="mt-2">
                                    <input id="access_token" name="access_token" type="text" required="" value=""
                                           class="cndt-input cndt-input-lg cndt-input__connect" autofocus="">
                                </div>

                            </div>


                            <div class="text-right mt-10">
                                <submit-button submit-text="Connecting" submit-class="opacity-50 cursor-not-allowed">
                                    <button type="submit" class="cndt-btn cndt-btn-lg cndt-btn-primary"
                                            :class="(isSubmitting || isSubmitDisabled) ? 'opacity-50 cursor-not-allowed' : ''"
                                            :disabled="isSubmitting || isSubmitDisabled">
                                        <svg x-show="isSubmitting" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             style="display: none;">
                                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                                    stroke-width="4"></circle>
                                            <path class="opacity-75" fill="currentColor"
                                                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                                        </svg>
                                        <span x-show="!isSubmitting">Connect</span>
                                        <span x-show="isSubmitting" style="display: none;">Connecting</span>
                                    </button>
                                </submit-button>

                            </div>
                        </form>
                        {% endblock %}

                    </div>
                </div>

            </div>


        </main>
    </div>


</div>

</body>
</html>