<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180"
          href="https://cndt-static.s3.us-east-2.amazonaws.com/static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://cndt-static.s3.us-east-2.amazonaws.com/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="https://cndt-static.s3.us-east-2.amazonaws.com/static/img/favicon/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdn.getconduit.app/common/external/styles.css">
</head>
<body>
<div class="h-screen flex overflow-hidden bg-gray-lightest text-gray-darkest font-soehne" id="root">
    <div class="bg-gray-darkest flex flex-shrink-0">
        <div class="flex flex-col w-64"></div>
    </div>
    <div class="flex-1 overflow-auto focus:outline-none">
        <main class="relative flex-shrink-0">
            <div class="max-w-4xl px-12 py-7">
                {% block body %}{% endblock %}
            </div>
        </main>
    </div>
</div>
</body>
<script src="https://cdn.getconduit.app/common/external/script.js"></script>
</html>
